* {
  margin: 0%;
  padding: 0%;
}
h1 {
  color: rgb(43, 40, 40);
  background-color: antiquewhite;
}
.img1,
.img2 {
  width: 30%;

  border: 5px solid #000000;

  text-align: center;
}
.img1 {
  margin-left: 17%;
}
ul {
  font-size: large;
}
table {
  font-size: larger;
}
.bold {
  font-weight: bold;
}
button {
  font-size: large;
}
h2 {
  text-decoration: underline;
  text-transform: capitalize;
}
